@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" color : #aeaeae">
    <h1>Grit</h1>
    <p style="font-size : 22px;" class="lead">Grit is passion and perseverance for long-term and meaningful goals.</p>
    <p class="pull-right"> - Angela Duckworth</p>
    <hr style="border-top-color: #66fcf1; width:100%" />
    <p>It is the ability to persist in something you feel passionate about and persevere when you face obstacles. This kind of passion is not about intense emotions or infatuation. It’s about having direction and commitment. When you have this kind of passion, you can stay committed to a task that may be difficult or boring.  </p>
    <p>@Html.ActionLink("Log in »", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Choose a training plan</h2>
        <p>
            Track your intensity in the gym!<br />
            Sets, reps, and even your weights. The app intelligently pushes you to lift more each week.
        </p>
        <p>@Html.ActionLink("Start now »", "FillInfo", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Time your workouts</h2>
        <p>Use this feature to monitor how much time you rest between sets.</p>
        <p>@Html.ActionLink("Countdown timer »", "Timer", "Home", htmlAttributes: new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Track your progress</h2>
        <p>You can easily track your bodyweight every day and keep and eye on its fluctuations. <br />
        The app will calculate the average of your last 7 entries.</p>
        <p>@Html.ActionLink("Add weight »", "Progress", "Weight", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</p>
    </div>
</div>

@section Quote{
    Proud but Never Satisfied.
}


@section scripts{
    <script src="@Url.Content("~/Scripts/scripts/timer.js")"></script>
}

<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">-->
        <!-- Modal content-->
        <!--<div class="modal-content">

            <div class="modal-body">
                <div style="text-align: center;">
                    <h3>Countdown Timer</h3>
                    <div id="timer"></div>
                    <br />
                    <div class="row">
                        <button class="btn btn-primary col-xs-2 col-xs-offset-1 col-md-2 col-md-offset-1 seconds_timer" id="sub_timer">&#8722 15sec</button>
                        <button class="btn col-xs-2 col-xs-offset-1 col-md-2 col-md-offset-1 start_reset_timer" id="start_button_timer" style="background-color:#006b00">Start</button>
                        <button class="btn col-xs-2 col-md-2 col-md-offset-0 start_reset_timer" id="reset_button_timer" style="background-color: #ff3e3e">Reset</button>
                        <button class="btn btn-primary col-xs-2 col-xs-offset-1 col-md-2 col-md-offset-1 seconds_timer" id="add_timer">&#43 15sec</button>
                        <div class="col-xs-offset-1 col-md-offset-1"></div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>-->